.item{
    border: 1px solid black;
    width: 300px;
    margin-bottom: 10px;
    padding-left: 5px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    padding: 12px;

}
.contactName{
    margin: 0;
}
.contactNumber{
    margin: 0;
}
.wrapper{
    display: flex;
    align-items: center;
    gap: 4px;
}
.deleteButton{
    height: 32px;
    margin-top: auto;
    margin-bottom: auto;
}