.form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 250px;
    border: 1px solid black;
    padding: 10px;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
}
.errorMessage{
    color: red;
}